---
import Layout from "../layouts/Layout.astro";
import Badge from "../components/Badge.astro";
import Icon from "../components/Icon.astro";
---

<Layout title="about me" transition:animate="fade">
  <main
    class="text-text dark:text-darkText mx-auto w-[750px] max-w-full px-5 pb-10 pt-28"
  >
    <div class="font-base">
      <h1 class="text-text mb-8 text-2xl font-heading sm:text-4xl">About</h1>
      <div class="mb-10 text-base sm:text-lg">
        <p class="text-text">
          I'm a UK-based web developer and programmer with a deep-seated
          curiosity for solving complex problems through technology. Originally
          from Nigeria, I started coding on my phone, driven by a fascination
          with how code could create real, impactful solutions. Now, with
          experience in AI-driven crowd analysis with Fujitsu, modern software
          engineering with Vodafone, and networking and application support with
          Stoke Council, I’ve built a foundation in both practical and advanced
          development principles.
        </p>
        <p class="text-text">
          My passion extends beyond web development to building tools that
          enhance developer workflows. I’ve created Bonk, a CLI utility that
          simplifies package management and introduces a GUI for package
          visualization, and developed a range of other tools—including a
          terminal shell in C and Rust, my own programming language, and a text
          editor.
        </p>
        <p class="text-text">
          I'm also an active contributor to open-source projects, mentoring
          others on Exercism and collaborating on community-focused tools like
          RPGamify and Litely, a fast HTTP framework based on Bun.js. Currently,
          I’m exploring the intersections of quantum computing and compiler
          design, inspired by resources like Oxford University's Strachey
          Lectures. These fields have reinforced my dedication to understanding
          computer science fundamentals and applying them to innovative
          projects.
        </p>
        <p class="text-text">
          Outside of coding, I’m a competitive basketball player and have
          achieved a bronze medal, MVP recognition, and led my U17 team in
          scoring and blocks. This experience has strengthened my commitment to
          teamwork, resilience, and continuous improvement, qualities I bring to
          every project I take on.
        </p>
      </div>
      <div class="mb-16">
        <h2 class="text-text mb-8 text-xl font-heading sm:text-2xl">Skills</h2>
        <div>
          <h3 class="mb-4 text-lg font-heading sm:text-xl text-text">
            Frontend
          </h3>
          <div class="mb-10 flex flex-wrap gap-5">
            <img src="/html.svg" class="h-8 w-8" />
            <img src="/css.svg" class="h-8 w-8" />
            <img src="/js.svg" class="w-8 h-8" />
            <a href="https://www.typescriptlang.org/"
              ><img src="/typescript.svg" class="w-8 h-8" /></a
            >
            <a href="https://astro.build"
              ><img src="/astro.svg" class="h-8 w-8" /></a
            >
            <a href="https://qwik.dev/"
              ><img src="/qwik.svg" class="h-8 w-8" /></a
            >
            <a href="https://react.dev/"
              ><img src="/react.svg" class="h-8 w-8" /></a
            >
            <a href="https://sass-lang.com/"
              ><img src="/scss.svg" class="h-8 w-8" /></a
            >
            <a href="https://tailwindcss.com/"
              ><img src="/tailwind.svg" class="h-8 w-8" /></a
            >
            <a href="https://getbootstrap.com/"
              ><img src="/bootstrap.svg" class="h-8 w-8" /></a
            >
          </div>
        </div>
      </div>
      <div class="mb-16">
        <div>
          <h3 class="mb-4 text-lg font-heading sm:text-xl text-text">
            Backend
          </h3><div class="mb-10 flex flex-wrap gap-5">
            <a href="https://nodejs.org/en"
              ><img src="/node.svg" class="h-8 w-8" /></a
            >
            <a href="https://postgresql.org"
              ><img src="/postgres.svg" class="h-8 w-8" />
            </a>
            <a href="https://mongodb.com"
              ><img src="/mongo.svg" class="h-8 w-8" /></a
            >
            <a href="https://djangoproject.com"
              ><img src="/django.svg" class="h-8 w-8" /></a
            >
            <a href="https://docker.com"
              ><img src="/docker.svg" class="h-8 w-8" /></a
            >
            <a href="https://bun.sh"><img src="/bun.svg" class="h-8 w-8" /></a>
            <a href="https://expressjs.com"
              ><img src="/express.svg" class="h-8 w-8" /></a
            >
            <a href="https://www.django-rest-framework.org/"
              ><img src="/drf.svg" class="h-8 w-8" /></a
            >
            <a href="https://elysiajs.com/"
              ><img src="/elysia.svg" alt="" class="h-8 w-8" /></a
            >
            <a href="https://orm.drizzle.team"
              ><img src="/drizzle.svg" alt="" class="h-8 w-8" /></a
            >
            <a href="https://turso.tech"
              ><img src="turso.svg" class="h-8 w-8" /></a
            >
          </div>
        </div>
        <div class="mb-16">
          <div class="">
            <h3 class="mb-4 text-lg font-heading sm:text-xl text-text">
              Programming languages
            </h3>
            <div class="mb-10 flex flex-wrap gap-5">
              <a href="https://www.rust-lang.org/"
                ><img src="/rust.svg" alt="" /></a
              >
              <a href="https://www.rust-lang.org/"
                ><img src="/python.svg" alt="" /></a
              >
              <img src="/c.svg" alt="" />
              <img src="/js.svg" alt="" />
              <a href="https://www.ziglang.org"><img src="/zig.svg" alt="" /></a
              >
              <a href="https://www.julialang.org"
                ><img src="/julia.svg" alt="" /></a
              >
              <a href="https://www.lua.org"
                ><img src="/lua.svg" alt="" />
                <a href="https://www.typescriptlang.org/"
                  ><img src="/typescript.svg" class="w-8 h-8" /></a
                >
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </main>
</Layout>
