---
import Layout from '../layouts/Layout.astro'
---

<Layout title='about me'>
<main class="text-text dark:text-darkText mx-auto w-[750px] max-w-full px-5 pb-10 pt-28">
    <div class="font-base">
      <h1 class="text-4xl text-text">About</h1>
      <div class="mb-10 text-base sm:text-lg">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Numquam, porro aut eligendi possimus fugiat praesentium architecto sint error tempora ullam quaerat deleniti rerum necessitatibus cumque dolorum culpa, illo voluptatem iure.
      </div>
    </div>
</main>
</Layout>
