---
const { text, className } = Astro.props;
---

<button
  role="button"
  aria-label="Click to perform an action"
  class={`flex text-text cursor-pointer items-center rounded-base border-2 border-border dark:border-darkBorder bg-white px-4 py-2 text-sm font-base shadow-light dark:shadow-dark transition-all hover:translate-x-boxShadowX hover:translate-y-boxShadowY hover:shadow-none dark:hover:shadow-none ${className} xl:w-64 lg:w-64 md:w-32 sm:w-32 text-center`}
>
  <p class="text-center w-full font-bold text-xl font-display">{text}</p>
</button>
