---

---
<div class="fixed left-0 top-5 z-50 w-full">
<nav class="text-text border-border dark:border-darkBorder shadow-light dark:shadow-dark mx-auto flex w-max gap-5 rounded-base border-2 bg-main p-2.5 px-5 text-sm font-base sm:text-base w450:gap-4">
  <a href="/" class=""><h1 class="text-white text-xl font-body font-base px-3 hover:border-border rounded-base transition-all">Home</h1></a>
  <a href="/about"><h1 class="text-white text-xl font-body font-base px-3   hover:border-border rounded-base transition-all">About</h1></a>
  <a href="/work"><h1 class="text-white text-xl font-body font-base px-3  hover:border-border rounded-base transition-all">Work</h1></a>
</nav>
</div>
