---
interface Props {
	title: string;
}
import { ViewTransitions } from 'astro:transitions';
const { title } = Astro.props;
import Navbar from '../components/Navbar.astro';

---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content="Astro description" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
    <ViewTransitions />
    <style>
      @font-face {
        font-family: 04b;
        src: url('/04b.ttf');
      }
      .font-display{ 
        font-family: 04b;
      }
    </style>
	</head>
  <body class="bg-bg font-body">
    <Navbar/>
		<slot />
	</body>
</html>
